<div class="main" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>
      Connexion
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="authFormGroup" fxLayout="column" fxLayoutAlign="center center" (submit)="submit()">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput formControlName="login">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="flex-end center">
      <mat-spinner *ngIf="loading" [diameter]="50"></mat-spinner>
      <button *ngIf="!loading" mat-raised-button color="primary" (click)="submit()">
        Log in
      </button>
    </mat-card-actions>
  </mat-card>
</div>
