<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="columnName">
    <th mat-header-cell *matHeaderCellDef> Column Name </th>
    <td mat-cell *matCellDef="let element"> {{element.columnName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select [(ngModel)]="element.Type">
          <mat-option *ngFor="let type of ['Integer', 'String', 'Boolean', 'Date']"
                      [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="primaryKey">
    <th mat-header-cell *matHeaderCellDef> Primary key </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.primaryKey"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Mandatory">
    <th mat-header-cell *matHeaderCellDef> Mandatory </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.Mandatory"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="deleteRow($event, element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<button mat-button (click)="click()">Show data</button>
<button mat-button (click)="addRow()">Add row</button>
