<h1>Hello {{getUserName()}}</h1>
<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Nouveau nom</mat-label>
    <input formControlName="newName" matInput (keydown)="onChange($event)" [(ngModel)]="nameModel">
  </mat-form-field>
</form>



<app-name-info [newName]="nameModel" (outputEvent)="aRecuEvent($event)"></app-name-info>
